html {
    background: linear-gradient(to top right,#5fc0ce,#fff);
}

body {
    font-family: Helvetica, Verdana, sans-serif;
    line-height: 1.5;
    color: #ffb673;
    box-sizing: border-box;
    font: 1em;
}

.wrap {
    max-width: 960px;
    margin: 0 auto;
}

section {
    background-color: #03899c;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    padding: 30px;
}

a {
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
    font-weight: bold;
    margin: 25px;
}

a:hover {
    color: rosybrown;
}

h1 {
    color: #015965;
    text-transform: capitalize;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

img {
    -webkit-box-shadow: 4px 1px 10px 2px #4d4Ddd;
    box-shadow: 4px 1px 10px 2px #4d4d4d;
    width: 50%;
}

p {
    text-indent: 25px;
    border-left: solid 3px lightgreen;
    padding-left: 5px;
    background-color: #1f6f75;
    text-shadow: 1px 1px 1px #606494;
}

section.comments {
    background-color: lightgreen;
    color: #990000;
}

.addComment {
    padding-left: 40px;
    margin: 0 auto;
}

input, label {
    display: block;
    margin-bottom: 15px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 120px;
}

input:focus {
    background-color: #ffe96e;
}
textarea:focus {
    background-color: #ffb874;
}


#lastComments p {
    border-bottom: dashed 1px #5fc0ce;
    margin-left: 60px;
    background-color: #49a5ff;
    border-radius: 10px;
    color: lavender;
}

#lastComments p span {
    display: inline-block;
    font-style: italic;
    font: 1.2em;
    border-right: dotted 1px silver;
    padding-right: 40px;
}

.social {
    text-align: center;
    font-size: smaller;
    margin: 0 auto;
    padding-bottom: 15px;
    background-color: #4d4d4d;
    width: 40%;
    border-radius: 15px;
}
.social a {
    background-color: coral;
    border-radius: 50%;
    padding: 1rem;
}

.social h3 {
    text-shadow: 1px 2px 0px #000000;
}
