* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100px;
}

body {
  text-align: center;
}

body h1 {
  margin: 20px 0;
}

article {
  width: 30%;
  margin: 0 10px;
  padding: 50px;
  border: 1px solid #aaa;
  display: inline-block;
  cursor: pointer;
}

article:hover {
  transition: background .1s ease-in;
  background: #aaa;
}

p {
  margin: 50px;
  padding: 20px;
}
